<div id="home-page-container"
  (wheel)="$wheelEvent.set($event)"
  [style.overflow]="state().is(StateEntry) ? 'hidden' : 'auto'"
>
  <div class="home-container">
    <div
      class="home-container-line"
      id="home-container-left-line-v"
    ></div>
    <div
      class="home-container-line"
      id="home-container-left-line-h"
    ></div>
    <div class="home-container-content">
      <h1>Florian Alzaix</h1>
      <p>Freelance full stack development</p>
    </div>
    <div
      class="home-container-line"
      id="home-container-right-line-v"
    ></div>
    <div
      class="home-container-line"
      id="home-container-right-line-h"
    ></div>
  </div>

  Test
  <br />
  Test
  <br />
  Test
  <br />
  Test
  <br />
  Test
  <br />
  Test
  <br />
  Test
  <br />
  Test
  <br />
  Test
  <br />
  Test
  <br />
  Test
  <br />
  Test
  <br />
  Test
  <br />
  Test
  <br />
  Test
  <br />
  Test
  <br />
  Test
  <br />
  Test
  <br />
  Test
</div>
