#home-page-container {
  height: 100vh;
  width: 100%;
}

.home-container {
  position: relative;

  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--p-surface-color);

  /**
   *   Variables
   */

  --home-container-content-width: 335px;
  --home-container-content-height: 150px;

  --entry-progress: 0;
}

.home-container-content {
  width: var(--home-container-content-width);
  height: var(--home-container-content-height);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  background-color: var(--p-background);
}

.home-container h1 {
  margin: 0;
}

.home-container p {
  margin: 0;

  font-size: 0.9rem;
  color: var(--p-accent-color);
}

/**
 * Home container lines
 */

.home-container-line {
  position: absolute;
}

#home-container-left-line-v {
  top: 0;
  left: calc(50% - var(--home-container-content-width) / 2);

  width: 1px;
  height: calc(
    (50% + var(--home-container-content-height) / 2)
    * (1 - var(--entry-progress))
  );

  background: linear-gradient(
    to bottom,
    var(--p-surface-color),
    var(--p-tertiary-color),
    var(--p-secondary-color),
    var(--p-primary-color),
    var(--p-fifth-color)
  );
}

#home-container-left-line-h {
  top: calc(50% - var(--home-container-content-height) / 2);
  left: calc(50% - var(--home-container-content-width) / 2);

  width: calc(
    (50% + var(--home-container-content-width) / 2)
    * (1 - var(--entry-progress))
  );
  height: 1px;

  background: linear-gradient(
    to left,
    var(--p-surface-color),
    var(--p-tertiary-color),
    var(--p-secondary-color),
    var(--p-primary-color),
    var(--p-fifth-color)
  );
}

#home-container-right-line-v {
  top: calc(50% - var(--home-container-content-height) / 2);
  left: calc(50% + var(--home-container-content-width) / 2);

  width: 1px;
  height: calc(
    (50% + var(--home-container-content-height) / 2)
    * (1 - var(--entry-progress))
  );

  background: linear-gradient(
    to top,
    var(--p-surface-color),
    var(--p-tertiary-color),
    var(--p-secondary-color),
    var(--p-primary-color),
    var(--p-fifth-color)
  );
}

#home-container-right-line-h {
  top: calc(50% + var(--home-container-content-height) / 2);
  left: 0;

  width: calc((
    50% + var(--home-container-content-width) / 2)
    * (1 - var(--entry-progress))
  );
  height: 1px;

  background: linear-gradient(
    to right,
    var(--p-surface-color),
    var(--p-tertiary-color),
    var(--p-secondary-color),
    var(--p-primary-color),
    var(--p-fifth-color)
  );
}
